<div class="log-entry">
	<%
		const envelopeIso = new Date(event.ts * 1000).toISOString();
		const canonicalIso = event.metrics?.time_local || envelopeIso;
	%>

	<div class="ts">
		<%= envelopeIso %> (<time
			class="ts"
			datetime="<%= canonicalIso %>"
			title="<%= canonicalIso %>"
		></time>)
	</div>

	<div class="source">
		<%= event.metrics?.source || "unknown source" %>
	</div>

	<%
		const metrics = event.metrics || {};
		let template = "raw";

		if (metrics.source?.includes("access.log")) {
			template = "nginx";
		}
	%>

	<%- include(template, { metrics }) %>
</div>
